#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner-container {
    outline: 5px solid orange;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: #b3b3b3;
  }


.pad-bank {
    width: 332px;
    height: 272px;
    display: inline-block;
    margin: 20px;
  }
  
  .drum-pad {
    position: relative;
    float: left;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .control-container {
    width: 240px;
    height: 272px;
    display: inline-block;
    margin: 40px 20px 0 10px;
    vertical-align: top;
  }
  
  .pad-button:hover {
    background-color: #e0e0e0;
  }

  @media screen and (max-width: 650px) {
    .inner-container {
      transform: scale(0.7);
    }
  }
  